# Auth0
AUTH0_SECRET='use-a-random-secret-string-here'
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL='https://your-auth0-domain.auth0.com'
AUTH0_CLIENT_ID='your-auth0-client-id'
AUTH0_CLIENT_SECRET='your-auth0-client-secret'

# Database
DATABASE_URL='postgresql://user:password@localhost:5432/farmacia_sa'

# App
NEXT_PUBLIC_APP_NAME='Farmacia S.A.'
NEXT_PUBLIC_COMPANY_NAME='Farmacia S.A.'
NEXT_PUBLIC_COUNTRY='Nicaragua'
NEXT_PUBLIC_CITY='Córdoba'
